# Python Essentials

---

## A Comment

In [ ]:
# Python will ignore this...
# For human eyes only.

# Numbers
- Integers
- Floats (decimals)

#### Addition

In [ ]:
3+2

#### Subtraction

In [ ]:
5-2

#### Multiplication

In [ ]:
3*2

#### Division

In [ ]:
3/2

##### Floor division - returns only the whole part following division

In [ ]:
3//2

#### Modulus (remainder)

In [ ]:
3%2

#### Exponentiation

In [ ]:
3**2

---

# Variables
   - can only be one word
   - can use only letters, numbers, and the underscore (_) character
   - canâ€™t begin with a number
   - are case-sensitive (data, Data and DATA would be different variable names)

In [ ]:
batch_1 = 3
batch_2 = 2

In [ ]:
datasets = batch_1 + batch_2

datasets

---

# Strings

#### Single quotes

In [ ]:
'This is fun!'

#### Double quotes

In [ ]:
"Isn't this fun?"

# Print()

In [ ]:
print("datasets")

In [ ]:
print(datasets)

### Print formating

In [ ]:
name = "Angela"

print("{} downloaded all {} of the datasets.".format(name, datasets))

In [ ]:
# f-string

print(f"{name} downloaded all {datasets} of the datasets.")

---

# Lists
### Create a list using square brackets

In [ ]:
[1,2,3,4,5]

In [ ]:
L = [1, 'two', 3, 4, 5]

L

### Accessing values
Access list items using index notation. The first item is at index position 0.

In [ ]:
# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

### Replace an item in a list

In [ ]:
L[1] = 2

L

### Get the (length) number of items in a data structure.

In [ ]:
len(L)

In [ ]:
L2 = [55, 21, 34, 12, 8, 9]

sorted(L2)  # returns a new sorted list
#L2.sort()    # sorts the list in place

In [ ]:
L2

#### Concatenate a list

In [ ]:
[96, 97] + [98, 99]

#### Extend a list

In [ ]:
[1,2,3]*2

### List slicing

In [ ]:
L3 = [1,2,3,4,5]

In [ ]:
L3[0:3]

In [ ]:
L3[3:]

In [ ]:
# Use negatives to count from the end of the list

L3[-1]      # returns the last item

In [ ]:
# Returns the third item from the end

L3[-3]

In [ ]:
# Returns the last 3 items

L3[-3:]

In [ ]:
# A second colon (:) can be used to indicate step-size. 
# list[start:stop:stepsize]

L3[::2]

In [ ]:
# Reverses the order of the list
# Display every item, beginning from the end

L3[::-1]

---

# Tuples
### Create a tuple using parentheses

In [ ]:
tup = (1,2,3,4,5,6)

In [ ]:
tup[:2]

### A tuple can't be modified

In [ ]:
tup[0] = "one"     # immutable, will get an error

### Unpacking
Assign multiple values to variables all at once.

In [ ]:
first, second, third = ("learning", "from", "data")

print(third)

---

# Dictionaries
Composed of key-value pairs.
### Create a dictionary using curly braces and colons

In [ ]:
employee = {"Name": "Alicia Mays", "Position": ["Data Scientist", "2024"]}

### Accessing values in a dictionary

In [ ]:
employee["Name"]

In [ ]:
employee["Position"][1]

### Adding data (key-value pairs) to a dictionary

In [ ]:
employee["Location"] = "San Francisco"

employee

---

# Sets

In [ ]:
{1,2,3,1,2,3}

In [ ]:
a_list = ["Stanford", "UCLA", "Berkeley", "Stanford", "USC", "USC", "Berkeley", "UCLA"]

a_set = set(a_list)

a_set

---

# Booleans

In [ ]:
True

In [ ]:
False

### Comparison Operators

In [ ]:
1 < 2

In [ ]:
1 > 2

In [ ]:
1 <= 2

In [ ]:
1 >= 2

In [ ]:
1 == 2

In [ ]:
1 != 2

In [ ]:
"data" == "data"

In [ ]:
"data" == "date"

### Inclusion/Exclusion

In [ ]:
data_science_list = ["Machine Learning", "Deep Learning", "AI"]

"Machine Learning" in data_science_list

In [ ]:
"AI" not in data_science_list

### Boolean Operators
and, or, not

In [ ]:
True and True

In [ ]:
# For example:

1 < 2 and 1 < 3

In [ ]:
True and False

In [ ]:
# For example:

1 < 2 and 3 < 1

In [ ]:
True or False

In [ ]:
# For example:

1 < 2 or 3 < 1

In [ ]:
not False

In [ ]:
not 3 < 1

---

# Conditional Statements

## if

In [ ]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code
    
''';

In [ ]:
if True:
    print("True")

In [ ]:
user_email = "me@myemail.com"
password = "my_password"

if user_email == "me@myemail.com":
    if password == "my_password":
        print("You're in!")

In [ ]:
if 5<2: 
    print("True")

## elif
Testing multiple conditions.

In [ ]:
'''

if <condition>:
    block of code
elif <condition):
    block of code

''';

In [ ]:
missing_values = 0

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is O.K.")

## else

In [ ]:
'''

if <condition>:
    block of code
else:
    block of code

''';

In [ ]:
missing_values = 15

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is O.K.")
else:
    print("Data quality is poor.")

---

# for Loops
### range()
Generates the indicated number of values (beginning from 0, unless otherwise indicated).

In [ ]:
# By default, range(10) starts at 0 and EXCLUDES the stop value
# Use list() to display the list of numbers

list(range(10))

### Loop through the list of values, one at a time, for as long as there are values in the list.

In [ ]:
for number in range(10):
    print(number)

#### This is what the machine sees:

In [ ]:
for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(number)

### You can modify the start and stop values for the loop.

In [ ]:
# range(start, stop)

for num in range(1,11):
    print(num)

### Loop through a list.

In [ ]:
data_science_list = ["Machine Learning", "Deep Learning", "Artifical Intelligence"]

for technology in data_science_list:
    print(technology)

---

# List Comprehension

In [ ]:
a_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[num**2 for num in a_list]

In [ ]:
data_science_list = ["Machine Learning", "Deep Learning", "Artifical Intelligence"]

[item for item in data_science_list if item not in ["Machine Learning"]] + ["Machine Learning"]

In [ ]:
test_scores = [75, 81, 62, 93, 54]

["Pass" if score >= 70 else "Fail" for score in test_scores]

---