# Pandas Introduction

In [ ]:
import numpy as np
import pandas as pd

## Series

In [ ]:
column = pd.Series([10,20,30,40,50])

column

In [ ]:
# index access

column[0]

### Element-wise operations

In [ ]:
ages = pd.Series([31,22,43,44,55])

ages

In [ ]:
ages * 2

In [ ]:
ages + 10

### Boolean selection

In [ ]:
ages > 40

In [ ]:
# Boolean access

ages[ages > 40]

#### What the machine sees.

In [ ]:
# Return the rows that are True

ages[[False, False, True, True, True]]

---

## DataFrame

In [ ]:
# Create a DataFrame using a dictionary

data = {"Name": ["Tim Miller", "Ann Carter", "Ellen Lee", "Sam Carr", "Al Ball", "Carl Zee", "Sara Martin"], 
        "Gender": ["Male", "Female", "Female", "Male", "Male", "Male", "Female"],
        "Age": [32, 44, 21, 19, 45, 27, 39]}

df = pd.DataFrame(data)

df

In [ ]:
# show first 5 rows

df.head() # == df.head(5)

In [ ]:
# show last 5 rows

df.tail()  # == df.tail(5)

In [ ]:
# returns a column

df['Name']     # dictionary notation

In [ ]:
df.Name    # attribute notation

In [ ]:
# Add a column

df["Birth Year"] = 1990

df

In [ ]:
# Add a column; assign specific values to the rows in the column

df["Married"] = ['Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No']  # must match the length of the DataFrame

df

---

## Selection and Filtering
### Column selection

In [ ]:
# Create a new DataFrame

df = pd.DataFrame(np.arange(100).reshape(10,10), columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

df

In [ ]:
df["a"]

In [ ]:
df[["a", "e", "j"]]    # providing a list selects multiple columns

In [ ]:
df[["j", "e", "a"]]

### Row selection

In [ ]:
df[:1]     # use slice syntax to select rows

In [ ]:
df[5:9]

In [ ]:
# Boolean

df["j"] > 40

In [ ]:
# Return the rows that are True

df[df["j"] > 40]

### Row and Column selection with loc
Allows you to select a subset of the rows and columns using the label/name of the row/column

In [ ]:
df

In [ ]:
# loc (inclusive) implies the name/label of the row and column

df.loc[0:5, "b"]

In [ ]:

df.loc[6:, 'a':'e']     # consecutive (loc selection is inclusive)

In [ ]:
df.loc[6:, ['c', 'f', 'i']]     # not consecutive

### Row and Column selection with iloc
Allows you to select a subset of the rows and columns using the index position of the row/column

In [ ]:
# iloc is for integer/index selection  (iloc selection is exclusive)

df.iloc[2:5, [2, 5, 8]]

In [ ]:
df.iloc[2:5, ]  # Returns the requested rows, assumes all of the columns

In [ ]:
df.iloc[:, :-1]  # Returns all rows, and all columns except the last one

In [ ]:
df.iloc[[5, 0, 3], [9, 5, 0]]  # returns selections in the order listed

---

# Data Acquisition

## xlsx (Excel)

In [ ]:
excel_df = pd.read_excel("Olympics.xlsx", sheet_name = 0)

excel_df.head()

## csv

In [ ]:
csv_df = pd.read_csv("Olympics.csv")

csv_df.head()

---

# Data Exploration

## Preview dataset

In [ ]:
df = pd.read_csv("Olympics.csv")

df.head()

### Return a random sample of rows from the dataset

In [ ]:
df.sample(10)

## Get the number of rows and columns in the dataset

In [ ]:
# (n_rows, n_cols)

df.shape

## Column selection (drop)
axis = 0 refers to rows; axis = 1 refers to columns

In [ ]:
# drop columns, returns a copy

df = df.drop(['id', 'name'], axis=1)

df.head()

---

## Descriptive and summary statistics

In [ ]:
df.info()

### Describes the numerical columns (by default)

In [ ]:
df.describe()

### Useful methods for describing numerical data

In [ ]:
df["height"].min()
# df["height"].max()
# df["height"].mean()
# df["gold"].sum()

### Describes the categorical columns

In [ ]:
df.describe(include="object")

### Display the unique values within a column

In [ ]:
df["sport"].unique()

In [ ]:
# Alphabetizes results

set(df["sport"])

### Check for correlated columns

In [ ]:
# correlation matrix

df.corr(numeric_only=True)

In [ ]:
df[["height", "weight"]].corr()

---

## Data Transformation

In [ ]:
df.head()

Transform **height and weight** from **meters and kg** to **inches and pounds**, respectively.

In [ ]:
# 1 meter = 39.3700787 inches
# 1 kg = 2.20462262 pounds

inches = 39.3700787
pounds = 2.20462262

# Element-wise operations
df["height(in)"] = df["height"]*inches 
df["weight(lbs)"] = df["weight"]*pounds 

df.head()

---

## Feature Engineering
### Combine height and weight into "bmi" feature (column)

In [ ]:
# bmi = weight(kg)/height(m)**2

df["bmi"] = df["weight"]/(df["height"]**2)

df.head()

### Create a feature representing total medals won

In [ ]:
df["medal_ct"] = df["gold"] + df["silver"] + df["bronze"]

df.head()

---

### Drop height and weight columns

In [ ]:
df = df.drop(["height", "weight", "height(in)", "weight(lbs)"], axis=1)

df.head()

---

## Get the top n of a column

In [ ]:
# Columns must be in a list, even if there's only one.
# Sort the rows by the indicated column

df[["nationality", "sport", "medal_ct"]].nlargest(10, columns="medal_ct")

## Get the bottom n of a column

In [ ]:
df[["nationality", "sport", "bmi"]].nsmallest(5, columns="bmi")

## Sort by a column

In [ ]:
df[["nationality", "sport", "bmi"]].sort_values(by="bmi", ascending=True)

---

## Boolean Selection

In [ ]:
df["sport"]=="tennis"

In [ ]:
# isin() is like using an "or" statement

df["sport"].isin(["tennis", "table tennis"])

### Use boolean for row selection

In [ ]:
df.loc[df["sport"].isin(["tennis", "table tennis"]), ["sport", "sex"]]

---

## Useful methods

### mode()

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sex"].mode()

### median()

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "bmi"].median()

### sum()
#### Sum the values within a column in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "medal_ct"].sum()

### count()
#### Returns the number of rows included in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].count()

### value_counts()
#### Returns the count of each unique category for a column in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].value_counts()

---

# Interview the data

## And (&) operation

#### How many athletes are clinically obese and won a gold medal?

In [ ]:
df.loc[(df["bmi"] > 29) & (df["gold"] > 0), "sport"].count()

#### How many athletes are clinically underweight and compete for the "USA"?

In [ ]:
df.loc[(df["bmi"] < 19) & (df["nationality"] == "USA"), "sport"].count()

## Or ( | ) operation

#### How many athletes, by sport,  are either clinically obese or clinically underweight and won any medal?

In [ ]:
df.loc[((df["bmi"] < 19) |
        (df["bmi"] > 29)) & 
        (df["medal_ct"] > 0), "sport"].value_counts()

---

## Export to Excel

In [ ]:
#df.to_excel("Olympics.xlsx", index=False)

## Export to csv

In [ ]:
#df.to_csv("Olympics.csv", index=False)